// 不支持ES6的语法

var format = function (text) {
  // 防止数据初始化的时候text为undefined的错误
  if (!text) {
    return
  }
  var reg = getRegExp('\\\\n', 'g')
  return text.replace(reg, '\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
}

var limit = function (array, length) {
  return array.slice(0, length)
}

module.exports = {
  format: format,
  limit: limit
}